#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# Tell dh-golang where this package lives upstream
export DH_GOPKG := github.com/dotcloud/docker

# Set temporary build paths
GO_PATH = $(CURDIR)/obj-`arch`-linux-gnu

UPSTREAM_VERSION := $(shell dpkg-parsechangelog | grep Version: | cut -d" " -f2 | cut -d"-" -f1)

override_dh_auto_build:
	GOPATH=${GO_PATH}:$(CURDIR)/vendor DOCKER_GITCOMMIT=c8a853f ./hack/make.sh dynbinary
	make -C docs html

override_dh_auto_clean:
	rm -rvf docs/_build/
	dh_auto_clean

override_dh_auto_install:
	dh_auto_install
	install -D $(CURDIR)/bundles/${UPSTREAM_VERSION}/dynbinary/docker-${UPSTREAM_VERSION} debian/lxc-docker/usr/bin/lxc-docker
	install -D $(CURDIR)/bundles/${UPSTREAM_VERSION}/dynbinary/dockerinit-${UPSTREAM_VERSION} debian/lxc-docker/usr/lib/docker/dockerinit

override_dh_auto_test: 

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

override_dh_sphinxdoc:
	dh_sphixdoc || true

%:
	dh $@ --buildsystem=golang --with=golang,sphinxdoc
