#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# Tell dh-golang where this package lives upstream
export DH_GOPKG := github.com/dotcloud/docker

# Set temporary build paths
GO_PATH = $(CURDIR)/obj-`arch`-linux-gnu
DOCKER_PATH = obj-`arch`-linux-gnu/src/github.com/dotcloud/docker/docker

UPSTREAM_VERSION := $(shell dpkg-parsechangelog | grep Version: | cut -d" " -f2 | cut -d"-" -f1)

override_dh_auto_build:
	GOPATH=${GO_PATH} go get github.com/syndtr/gocapability/capability
	GOPATH=${GO_PATH} DOCKER_GITCOMMIT=c8a853f ./hack/make.sh dynbinary
	make -C docs html

override_dh_auto_clean:
	rm -rvf docs/_build/
	rm -vf debian/lxc-docker.install
	dh_auto_clean

override_dh_auto_install:
	sed 's/@UPSTREAM_VERSION@/'$(UPSTREAM_VERSION)/ debian/lxc-docker.install.in >debian/lxc-docker.install
	dh_auto_install

override_dh_auto_test: 

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

override_dh_sphinxdoc:
	dh_sphixdoc || true

%:
	dh $@ --buildsystem=golang --with=golang,systemd,sphinxdoc
